@import "tailwindcss";

@layer components {
  .landing-container {
    @apply min-h-screen flex flex-col items-center justify-center bg-gradient-to-b from-blue-400 to-blue-600
  }
}

@layer utilities {
  /* Custom utility classes can be added here */
}